*.dSYM
*.dylib
*.[ao]
*_autoconf.tcl

config.log
config.status
Doxyfile
setupenv.bash

doc/*.gz
doc/*.mtree
doc/*.xml
doc/.dep
doc/macports.conf
doc/pubkeys.conf

Mk/macports.autoconf.mk

portmgr/dmg/postflight

src/*.tcl
src/config.h
src/pkg_mkindex.sh
src/cregistry/macports.sqlext
src/darwintracelib1.0/*.d
src/darwintracelib1.0/sip_copy_proc.[ch]
src/machista1.0/tests/libmachista-test
src/port/port
src/port/portindex
src/port/portmirror
src/programs/daemondo/build/

tests/test.tcl
tests/test/library.tcl
tests/test/trace/test.tcl

vendor/*/

Makefile
pkgIndex.tcl
