**/.DS_Store
/config.log
/config.status
/Doxyfile
/setupenv.bash
/autom4te.cache

doc/*.gz
doc/*.mtree
doc/*.xml
doc/*.html
doc/.dep
doc/macports.conf
doc/pubkeys.conf

Mk/macports.autoconf.mk

portmgr/dmg/postflight

src/*
!src/*/
src/*/*_autoconf.tcl
src/cregistry/macports.sqlext
src/darwintracelib1.0/*.d
src/darwintracelib1.0/sip_copy_proc.[ch]
src/machista1.0/tests/libmachista-test
src/port/*
!src/port/*.tcl
src/programs/daemondo/build/
src/**/*.o
src/**/*.a
src/**/*.dylib
src/**/*.dSYM

tests/test.tcl
tests/test/library.tcl
tests/test/trace/test.tcl

vendor/vendor-destroot/
vendor/tclsh
vendor/**/*.o
vendor/**/*.a
vendor/**/*.dylib
vendor/**/*.dSYM
vendor/**/config.log
vendor/**/config.status
vendor/tcl8.*/unix/Tcl-Info.plist
vendor/tcl8.*/unix/Tclsh-Info.plist
vendor/tcl8.*/unix/tcl.pc
vendor/tcl8.*/unix/tclConfig.sh
vendor/tcl8.*/unix/tclsh

!*.in

Makefile
pkgIndex.tcl
!vendor/tcllib*/**/pkgIndex.tcl

/dist/
