/config.log
/config.status
/Doxyfile
/setupenv.bash

doc/*.gz
doc/*.mtree
doc/*.xml
doc/.dep
doc/macports.conf
doc/pubkeys.conf

Mk/macports.autoconf.mk

portmgr/dmg/postflight

src/*
!src/*/
src/*/*.dylib
src/*/*_autoconf.tcl
src/cregistry/macports.sqlext
src/darwintracelib1.0/*.d
src/darwintracelib1.0/sip_copy_proc.[ch]
src/machista1.0/tests/libmachista-test
src/port/*
!src/port/*.tcl
src/programs/daemondo/build/
src/**/*.[ao]

tests/test.tcl
tests/test/library.tcl
tests/test/trace/test.tcl

vendor/*/

!*.in

Makefile
pkgIndex.tcl
